*.log
*_bin
.vscode/
rhilex
rhilex-*
.DS_Store
*.out
*.zip
rhilex.db
rhilex.exe
*.db
.idea
*.exe
*.exe~
*.bin
*.output
profile*
_release*
_build*
lua-log*
*.txt*
dist/
apps/*.lua
test/script/_temp/*
upload/*
go.sum
component/apiserver/server/www/*
*encrypt.p*
*.pid
upgrade/
old/
backup/
zold/
zbackup/
zupgrade*
